.block {
  pointer-events: none;
  position: relative;
  width: 55px;
  height: 55px;
  margin: 1px;
  background-color: #005CB0;
  font-size: 14px;
}

.block-sm {
  width: 28px;
  height: 28px;
}

.track {
  width: 70%;
  margin: 0 auto;
  height: 90px;
  background: rgba(#fff, .05);

  + .track {
    margin-top: 4px;
  }
}
