.Page-image-growth__head,
.Page-image-growth__circle,
.Page-image-growth__branch,
.Page-image-growth__stem,
.Page-image-growth__leaf-1,
.Page-image-growth__leaf-2,
.Page-image-growth__leaf-3,
.Page-image-growth__leaf-4,
.Page-image-growth__leaf-5 {
  position: absolute;
}

.Page-image-growth__leaf {
  transform: scale(0);
}

.Page-image-growth__branch {
  height: 135px;
  left: 64px;
  top: 0;
  transform-origin: 50% 100%;
  transform: rotate(-4deg);
  width: 56px;
}

.Page-image-growth__head {
  left: 0;
  top: 80px;
}

.Page-image-growth__circle {
  left: 84px;
  top: 127px;
}

.Page-image-growth__stem {
  left: 23px;
  top: 16px;

  > div {
    transform: scale(0);
    transform-origin: 50% 100%;
  }
}

.Page-image-growth__leaf-1 {
  left: 0;
  top: 0;
  transform-origin: 100% 100%;
}

.Page-image-growth__leaf-2 {
  left: 25px;
  top: 5px;
  transform-origin: 0 100%;
}

.Page-image-growth__leaf-3 {
  left: 29px;
  top: 26px;
  transform-origin: 0 100%;
}

.Page-image-growth__leaf-4 {
  left: 7px;
  top: 44px;
  transform-origin: 100% 100%;
}

.Page-image-growth__leaf-5 {
  left: 23px;
  top: 65px;
  transform-origin: 0 100%;
}
