.App {
  background: #00040E;
  min-height: 100vh;
}

.simple-container {
  position: relative;
  width: 100%;
  height: 650px;
  padding-top: 100px;
}

.growth-container {
  position: relative;
  width: 100%;
  height: 600px;
}

.brain-container {
  width: 100%;
  height: 400px;
  padding-top: 100px;
}

.text-container {
  width: 100%;
  height: 400px;
  display: flex;
  align-content: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;

  h1 {
    font-variation-settings: 'wght' 300, 'wdth' 85;
    font-weight: 100;
  }
}

.growth {
  height: 300px;
  position: absolute;
  width: 200px;
  transform: translateX(-50%);
  left: 50%;
  top: 160px
}

.Page-wobbles {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.Brain {
  width: 300px;
  margin: 0 auto;
  height: 260px;
  //top: 80px;
  position: relative;

  &-fill {
    position: absolute;
    top: -40px;
    left: -50px;
  }
  &-outline {
    position: relative;
  }
}

.button {
  padding: 8px 19px 10px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  background: transparent;
  color: #fff;
  border-radius: 4px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}
